.git
.idea
.cache.ti.api.gs.ru.shares.report
arch-diagramms
docs
dist
*.md
/packages/backend/dist/
/packages/backend/node_modules/
/packages/backend/logs/
benchmark
node_modules
logs
grafana
prometheus
scripts
output
README.md
bash.exe.stackdump
wsl$
/wsl$/
update-proto-contracts.sh